* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

/* variables */
:root {
  --primary-color: white;
  --red: rgb(236, 38, 38);
  --blue: rgb(25, 92, 216);
  --yellow: rgb(236, 214, 15);
  --dark: rgb(58, 58, 58);
  --transp: rgba(255, 255, 255, 0.9);
  --footbg: linear-gradient(to bottom right, rgba(155, 155, 255, 0.5), rgba(255, 235, 245, 0.7));
  --socialsbg: linear-gradient(to bottom right, rgba(228, 255, 155, 0.5), rgba(255, 255, 255, 0.6));
  --bang: linear-gradient(to bottom right, rgba(129, 203, 252, 0.26), rgba(255, 255, 255, 0.514));
  --transit: all .5s ease-in-out;
}

/* Resets */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background-image: var(--footbg);
  border: #444;
  border-radius: 7px;
  width: 30%;
  height: 5vh;
  margin-top: 10px;
}

/* Utils */
.container {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .martins {
    height: 300px !important;
    /* border:black 2px solid; */
    display: flex;
    flex-direction: column;
  }

  .container-holder {
    height: 80% !important;
    width: 100% !important;
    /* border: 2px white solid; */
  }

  .martins_text {
    display: flex;
    width: 100% !important;
    flex-direction: column;
  }

  .martins_text>.name {
    font-weight: bolder;
    font-size: 10px !important;
    color: var(--footbg);
    width: 100% !important;
  }

  .hide {
    /* display: none !important; */
    font-size: 100% !important;
  }

  .mobile {
    display: block;
  }

  .not_mobile {
    display: none;
  }

  .footer {
    display: flex !important;
    flex-direction: column-reverse !important;
    width: 100% !important;
    height: auto !important;
    /* border: black solid 2px !important; */
  }

  .footerlinkb {
    width: 100% !important;
    flex-direction: row !important;
    height: 10% !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    color: white !important;
    background-color: black !important;
  }

  .navlinks>a {
    color: var(--footbg) !important;
  }

  .footerlinka {
    width: 100% !important;
    flex-direction: row !important;
    height: 20% !important;
    align-items: center !important;
    justify-content: space-evenly !important;
  }

  .footSocials {
    font-size: 7px !important;
  }

  .foot {
    display: none !important;
  }

  .bang {
    width: 100% !important;
    height: 350px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .bang-lay {
    display: none !important;
  }

  .earth-pic {
    width: 100% !important;
    height: 100px !important;
  }

  .earth-quote {
    width: 100vw !important;
    height: 250px !important;
    color: black;
    text-align: center;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 20px !important;
  }

  .earth-quote h2 {
    font-size: 15px !important;
    text-decoration: underline !important;
    font-style: oblique !important;
    margin-bottom: 20px !important;
  }

  .p-earth {
    width: 70% !important;
    color: black;
    font-size: 10px !important;
  }

  .rio-star {
    width: 100% !important;
    height: 70vh !important;
    display: flex !important;
    background-image: var(--footbg) !important;
    flex-direction: column-reverse !important;
    padding: 20px;
  }

  .comet>button {
    padding: 5px !important;
    font-size: 10px !important;
    color: skyblue !important;
    /* font-weight: bold !important; */
    /* border: yellow solid 2px; */
  }

  .star-img {
    width: 100% !important;
    height: 70vh;
  }

  .comet {
    width: 100% !important;
    height: 70vh !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .sp {
    width: 80% !important;
  }

  .comet p {
    /* font-weight: 550; */
    font-size: 17px !important;
  }

  .observatory-sec {
    position: relative;
    text-align: center;
    width: 100%;
    height: 300px;
    background-image: url('./projectimg/ob2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .ob-lay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }

  .ob-l {
    position: relative;
    padding-top: 120px;
    z-index: 1;
  }

  .observatory-sec .ob-l h2 {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    font-family: sans-serif;
  }

  .ob-l button {
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 40px;
    width: 100px;
  }

  .ob-l button a {
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #111;
    font-size: 20px;
  }

  /* News section */
  .News-latest {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: #030080;
    justify-content: center;
    align-items: center;
  }

  .news-link {
    text-align: center;
    width: 100%;
    height: 300px;
    z-index: 1;
  }

  .news-link h2 {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-bottom: 0;
  }

  .news-link button {
    margin-top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 40px;
    width: 100px;
  }

  .news-link .ob-2 button a {
    display: inline-block;
    text-decoration: none;
    color: #111;
    font-size: 20px;
  }

  .ob-2 {
    padding-top: 0px;
  }

  .image-news {
    z-index: 1;
    display: none !important;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .martins {
    height: 300px !important;
    /* border:black 2px solid; */
    display: flex;
    flex-direction: column;
  }

  .container-holder {
    height: 80% !important;
    /* border: 2px white solid; */
  }

  .martins_text>.name {
    font-weight: bolder;
    font-size: 200% !important;
    color: #fff;
  }

  .hide {
    font-size: 100% !important;
  }

  .mobile {
    display: block;
  }

  .not_mobile {
    display: none;
  }

  .footer {
    display: flex !important;
    flex-direction: column-reverse !important;
    width: 100% !important;
    height: auto !important;
    /* border: black solid 2px !important; */
  }

  .footerlinkb {
    width: 100% !important;
    flex-direction: row !important;
    height: 10% !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    color: white !important;
    background-color: black !important;
  }

  .navlinks>a {
    color: var(--footbg) !important;
  }

  .footerlinka {
    width: 100% !important;
    flex-direction: row !important;
    height: 20% !important;
    align-items: center !important;
    justify-content: space-evenly !important;
  }

  .foot {
    display: none !important;
  }

  .bang {
    width: 100% !important;
    height: 350px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .bang-lay {
    display: none !important;
  }

  .earth-pic {
    width: 100% !important;
    height: 100px !important;
  }

  .earth-quote {
    width: 100vw !important;
    height: 250px !important;
    color: black;
    text-align: center;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 20px !important;
  }

  .earth-quote h2 {
    font-size: 15px !important;
    text-decoration: underline !important;
    font-style: oblique !important;
    margin-bottom: 20px !important;
  }

  .p-earth {
    width: 70% !important;
    color: black;
    font-size: 10px !important;
  }

  .rio-star {
    width: 100% !important;
    height: 70vh !important;
    display: flex !important;
    background-image: var(--footbg) !important;
    flex-direction: column-reverse !important;
    padding: 20px;
  }

  .comet>button {
    padding: 5px !important;
    font-size: 10px !important;
    font-weight: bold !important;
  }

  .star-img {
    width: 100% !important;
    height: 70vh;
  }

  .comet {
    width: 100% !important;
    height: 70vh !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .sp {
    width: 80% !important;
  }

  .comet p {
    /* font-weight: 550; */
    font-size: 17px !important;
  }

  .observatory-sec {
    position: relative;
    text-align: center;
    width: 100%;
    height: 300px;
    background-image: url('./projectimg/ob2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .ob-lay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }

  .ob-l {
    position: relative;
    padding-top: 120px;
    z-index: 1;
  }

  .observatory-sec .ob-l h2 {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    font-family: sans-serif;
  }

  .ob-l button {
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 40px;
    width: 100px;
  }

  .ob-l button a {
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #111;
    font-size: 20px;
  }

  /* News section */
  .News-latest {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: #030080;
    justify-content: center;
    align-items: center;
  }

  .news-link {
    text-align: center;
    width: 100%;
    height: 300px;
    z-index: 1;
  }

  .news-link h2 {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-bottom: 0;
  }

  .news-link button {
    margin-top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 40px;
    width: 100px;
  }

  .news-link .ob-2 button a {
    display: inline-block;
    text-decoration: none;
    color: #111;
    font-size: 20px;
  }

  .ob-2 {
    padding-top: 0px;
  }

  .image-news {
    z-index: 1;
    display: none !important;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }

  .map-geo {
    width: 100% !important;
    height: 400px !important;
    flex-direction: column !important;
  }

  .geo-place {
    width: 100% !important;
    height: 100px !important;
  }

  .mapped {
    width: 100% !important;
    height: 300px !important;
  }

  .row {
    flex-direction: column !important;
    width: 100%;
  }

  .desc {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }

  .sub {
    width: 100% !important;
    flex-direction: row !important;
    ;
    /* justify-content: space-around; */
  }

  .sub>table {
    display: none !important;
  }
}

/* landing_page Styles */
.martins {
  width: 100%;
  height: 600px;
  background-image: url(./projectimg/landing_page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border:black 2px solid; */
  display: flex;
  flex-direction: column;
}

.container-holder {
  width: 100%;
  height: 80%;
  /* border: 2px white solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.martins_text {
  width: 100%;
  /* height: 60vh; */
  /* border:black 2px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.martins_text>.name {
  font-weight: bolder;
  font-size: 300%;
  color: #fff;
}

/* planets  */
.planets {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  justify-content: space-around;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-height: 100vh;
}

.desc>.span1 {
  width: 100%;
  height: 30px;
  background-image: var(--bang);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.desc>.textarea {
  width: 100%;
  background-image: var(--bang);
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-around;
}

.textarea>ul>li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sub {
  display: flex;
  width: 40%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.MercuryCard {
  width: 96%;
  height: 400px;
  align-items: center;
  background-image: url(./projectimg/planets/mercuryb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  color: #eee;
  margin-top: 25px;
}

.VenusCard {
  width: 96%;
  height: 400px;
  align-items: center;
  background-image: url(./projectimg/planets/Venus.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  color: #eee;
  margin-top: 125px;
}

.EarthCard {
  width: 96%;
  height: 400px;
  align-items: center;
  background-image: url(./projectimg/planets/earth.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  color: #eee;
  margin-top: 105px;
}

.MarsCard {
  width: 96%;
  height: 400px;
  align-items: center;
  background-image: url(./projectimg/planets/mars-a1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  color: #eee;
  margin-top: 135px;
}

.JupiterCard {
  width: 96%;
  height: 400px;
  align-items: center;
  background-image: url(./projectimg/planets/jupiter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  color: #eee;
  margin-top: 65px;
}

.SaturnCard {
  width: 96%;
  height: 400px;
  align-items: center;
  background-image: url(./projectimg/planets/Saturn_love.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  color: #eee;
  margin-top: 126px;
}

.UranusCard {
  width: 96%;
  height: 400px;
  align-items: center;
  background-image: url(./projectimg/planets/uranus-v2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  color: black;
  margin-top: 75px;
}

.NeptuneCard {
  width: 96%;
  height: 400px;
  align-items: center;
  background-image: url(./projectimg/planets/neptune2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  color: white;
  margin-top: 120px;
}

.PlutoCard {
  width: 96%;
  height: 400px;
  align-items: center;
  background-image: url(./projectimg/planets/pluto1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  color: white;
  margin-top: 100px;
}

.sub>table {
  margin-top: 15px;
  border: gray solid 3px;
  width: 96%;
  background-image: var(--bang);
}

.sub>table>td {
  border: gray solid 3px;
}

header {
  width: 100%;
  background-color: none;
  position: relative;
}

/* Primary Theme */
header.dark {
  background-color: var(--dark);
}

header.dark .nav_item a {
  color: #fff;
}

header.dark .nav_item a::after {
  background-color: #fff;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 0;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo_img {
  width: 90px;
  object-fit: contain;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
}

.nav_item {
  margin: 0 .5rem;
}

.nav_item a {
  padding: .2rem .5rem;
  font-weight: 600;
  /*100 - 900*/
  font-size: .9rem;
  position: relative;
  color: var(--primary-color);
}

.nav_item a::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transition: var(--transit);
  transform: scaleX(0);
  /* transform-origin: left; */
}

.nav_item a:hover::after {
  transition: var(--transit);
  transform: scaleX(1);
}

.footer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  background-image: var(--footbg);
  /* border: blue solid 2px; */
}

.footerlinka {
  display: flex;
  width: 20%;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 1%;
}

.footerlinkb {
  display: flex;
  width: 10%;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 1%;
}

.footerlinkc {
  display: flex;
  width: 70%;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 1%;
}

.footSocials {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footSocials>h5 {
  margin-left: 2%;
}

.foot {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* border: yellow solid 2px; */
  justify-content: space-around;
}

.footimg {
  display: flex;
  width: 30%;
  height: 95%;
  background-image: url("./projectimg/planets/earth.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navlinks>a {
  text-decoration: none;
  color: black;
}

/* Mobile View */
#burger {
  display: inline-block;
  width: fit-content;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all .8s ease-in-out;
}

#burger:focus {
  outline: none;
}

#burger span {
  display: block;
  width: 30px;
  height: 3px;
  margin: .3rem 0;
  background-color: var(--primary-color);
  transition: var(--transit);
}

#burger::after,
#burger::before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
  transition: var(--transit);
}

#burger.turn {
  transform: rotate(360deg);
  transition: var(--transit);
}

#burger.turn span {
  transform: scaleY(0);
  transition: var(--transit);
  margin: 0;
}

#burger.turn::after {
  transition: var(--transit);
  transform: rotate(45deg) translateY(-3.8px);
}

#burger.turn::before {
  transition: var(--transit);
  transform: rotate(-45deg) translateY(3.8px);
}

/* DropDown Menu */
.dropdown_menu {
  transform-origin: top;
  transform: scaleY(0);
  transition: var(--transit);
  padding: .7rem;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: var(--transp);
  color: var(--primary-color);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  min-height: 350px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
  z-index: 3000;
}

.dropdown_menu.show {
  transform: scaleY(1);
  transition: var(--transit);
}

.menu_item {
  margin: 0.3rem 0;
}

.menu_item a {
  display: block;
  padding: .7rem;
  transition: var(--transit);
}

.menu_item a:hover {
  background-color: #eee;
  border-left: 3px solid var(--primary-color);
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* Kevin's section */
.bang {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: var(--bang);
  display: flex;
  flex-direction: row;
}

.earth-pic {
  width: 50vw;
  height: 100vh;
  background-image: url('./projectimg/solar.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.earth-quote {
  padding-top: 20px;
  width: 50vw;
  height: 100vh;
  z-index: 1;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.earth-quote h2 {
  font-size: 25px;
  text-decoration: underline;
  font-style: oblique;
  margin-bottom: 20px;
}

.p-earth {
  width: 70%;
  color: black;
}

/* Rio's section */
.rio-star {
  width: 100%;
  height: 70vh;
  display: flex;
  background-image: linear-gradient(to bottom right, rgba(129, 203, 252, 0.26), rgba(255, 255, 255, 0.514));
  flex-direction: row;
}

.star-img {
  width: 50%;
  height: 70vh;
  background-image: url('./projectimg/sky.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.comet {
  width: 50%;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 60px; */
  z-index: 1;
}

.comet h2 {
  /* margin-top: 10px; */
  /* margin-right: 60px; */
  font-size: 30px;
  font-weight: bolder;
  font-family: sans-serif;
}

.sp {
  width: 60%;
}

.comet p {
  /* font-weight: 550; */
  font-size: 17px;
}

.comet button {
  font-size: 20px;
  /* margin-right: 70px; */
  background-color: black;
  margin-top: 20px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  /* border-radius: 20px; */
  height: 40px;
  width: 25%;
}

.comet button a {
  text-decoration: none;
  color: black;
}

/* Moses styling */
/* for the observatory and location */
.observatory-sec {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-image: url('./projectimg/ob2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ob-lay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.ob-l {
  position: relative;
  /* padding-top: 120px; */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.observatory-sec .ob-l h2 {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  font-family: sans-serif;
}

.ob-l button a {
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* News section */
.News-latest {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
  background-color: #030080;
}

.news-link {
  text-align: center;
  width: 50vw;
  height: 300px;
  z-index: 1;
}

.news-link h2 {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.news-link .ob-2 button a {
  display: inline-block;
  text-decoration: none;
  color: #111;
  font-size: 20px;
}

.ob-2 {
  padding-top: 120px;
}

.image-news {
  z-index: 1;
  background-image: url('./projectimg/star.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  width: 50vw;
  background-color: white;
  height: 300px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

/* For the observatory site */
.map-geo {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
}

.geo-place {
  width: 30%;
  height: 400px;
  background-image: var(--footbg);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapped {
  width: 70%;
  height: 400px;
}

/* For mobile view rio and moses own */
@media only screen and (max-device-width: 416px) {

  /* Kevin's section */
  /* Moses styling */
  /* for the observatory and location */
  .observatory-sec {
    position: relative;
    text-align: center;
    width: 100%;
    height: 200px;
    background-image: url('./projectimg/ob2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .ob-lay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }

  .ob-l {
    position: relative;
    padding-top: 80px;
    z-index: 1;
  }

  .observatory-sec .ob-l h2 {
    color: white;
    font-size: 17px;
    font-weight: bolder;
    font-family: sans-serif;
  }

  .ob-l button {
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 30px;
    width: 100px;
  }

  .ob-l button a {
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #111;
    text-transform: uppercase;
  }

  /* News section */
  .News-latest {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 200px;
    background-color: #030080;
  }

  .news-link {
    text-align: center;
    width: 50vw;
    height: 200px;
    z-index: 1;
  }

  .news-link h2 {
    color: white;
    font-size: 15px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-bottom: 10px;
  }

  .news-link button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 30px;
    width: 100px;
  }

  .news-link .ob-2 button a {
    display: inline-block;
    text-decoration: none;
    color: #111;
    font-size: 15px;
    text-transform: uppercase;
  }

  .ob-2 {
    padding-top: 70px;
  }

  .image-news {
    z-index: 1;
    background-image: url('./projectimg/star.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 50vw;
    height: 200px;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
  }

  /* For the observatory site and location */
  .geo-place h2 {
    font-size: 15px;
  }
}

/* rio css styling */
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgb(238, 88, 88);
}

::-webkit-scrollbar {
  width: 100%;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #353b48;
}

/* home */
#home {
  height: 70vh;
  min-height: 200px;
  background: url(./projectimg/landing_page.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

/* about */
section {
  padding: 50px 0;
}

/* about title */
.section-title {
  text-align: center;
  margin-bottom: 1px;
  position: relative;
  font-size: 26px;
  padding-bottom: 20px;
  color: black;
}

#about {
  position: relative;
}

#about::before {
  margin-top: 30px;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: -1;
  background: url(./projectimg/constellationsw.jpeg) no-repeat center;
}

.about-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  Background-image: linear-gradient(to bottom right, rgba(155, 155, 255, 0.5), rgba(255, 235, 245, 0.7));
}

.about-pic {
  margin-top: 10px;
  width: 500px;
  border-radius: 5%;
  margin-right: 100px;
  margin-left: 20px;
  padding-bottom: 60px;
}

.about-text {
  flex: 1;
  margin-right: 30px;
  border-radius: 10px;
  padding-bottom: 50px;
  text-align: center;
  margin-top: -50px;
  border: 1px solid rgb(65, 62, 62);
}

/* about constellation and comet underline decoration */
.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #444;
  display: inline-block;
  border-radius: 50%;
  margin: 0 14px;
}

.about-text p {
  /* font-size: 17px; */
  text-align: center;
  line-height: 26px;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
}

/* end of about constellation content */
/* about comet */
/* responsiveness */
@media screen and (max-width: 980px) {
  .menu-toggler {
    display: block;
  }

  .navbar-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 4 -100%;
    padding: 100px 50px;
    transition: .3s linear;
  }

  .navbar-menu a {
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu {
    background-color: #f1f1f1;
  }

  .navbar-menu.active {
    right: 0;
  }

  .menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }

  .inner-width {
    max-width: 800px;
  }

  .about-pic {
    margin: 0 auto 60px;
  }

  .about-text {
    flex: 100%;
    text-align: center;
  }

  .service {
    width: calc(50% - 20px);
  }

  .work {
    width: calc(50% - 10px);
  }

  .contact-info .item {
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  .inner-width {
    padding: 0 20px;
  }

  .skill {
    width: 100%;
  }

  .service {
    width: 100%;
  }

  .work {
    width: 100%;
  }

  .nameZone,
  .emailZone {
    max-width: 100%;
  }
}
